.search-form-container {
   position: fixed;
   padding: 25px 0;
   width: 100%;
   background-color: #00000082;
   z-index: 100;
}
.search-form {
   display: flex;
   gap: 10px;
   justify-content: center;
}
.form-btn {
}
